* {
    margin: 0%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    height: 120px;
    width: 100%;
    background-color: #e9ce7b;
    z-index: 1;
    position: fixed;
}

.header .navbar {
    background-color: black;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .links {
    display: flex;
    list-style: none;
    margin-right: 30px;
    color: white;
}

.header .navbar .links li {
    padding-left: 30px;
    font-size: 25px;
}

.header .navbar .links li:hover {
    text-decoration: underline;
    text-decoration-color: #e9ce7b;
    text-underline-offset: 10px;
}

.marqu {
    height: 35px;
}
.Home{
    height: 100vh;
    width: 100%;
    background-image: url("/images/exterior/4.jpg");
    background-size: cover;         
    background-repeat: no-repeat;  
    background-position: center;  
  position: relative;
  color: white;

}
.Home ::before{
  content:"";
   position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.409);  
   z-index: 0;
  filter: blur(1px);
}  

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      width: 100%;
}


.about .subAbout {
    height: 550px;
    display: flex;
}

.about .subAbout .image {
    height: 100vh;
}

.about .subAbout .content {
    padding-left: 100px;
}

.about .subAbout .content h1 {
    text-align: center;
    font-size: 40px;
}

.about .subAbout .content p {
    font-size: 20px;
    padding: 20px;
    text-align: justify;
    margin-top: 20px;
    line-height: 35px;
}

.key-points {
    height: 400px;
    font-size: larger;
    margin-top: 20px;
    margin-left: 65px;

}

.ex-head{
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: #e9ce7b;
}

.box-parent {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1300px;
    margin: auto;

}

.i-img {

    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: block;
}

.i-img:hover {
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0 0 10px 2px black;
}


.Contact{
    height: 70vh;
    width: 100%;
}
#box-con{
    /* height: 65vh; */
    height: 400px;
    width: 900px;
    margin: 70px auto;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px black;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
#icon{
    height: 30px;
    margin-left: 20px;
}

#box-con h1{
    font-size: 30px;
    margin-bottom: 30px;
}
#box-con-b{
    margin-left: 40px;
}


.site-footer {
    height: 200px;
  background-color: black;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.site-footer a {
  color: #00cfff;
  text-decoration: none;
  margin: 0 5px;
}

.site-footer a:hover {
  text-decoration: underline;
}
