* {
    margin: 0%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    height: 120px;
    width: 100%;
    background-color: #e9ce7b;
}

.header .navbar {
    background-color: black;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .links {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.header .navbar .links li {
    padding-left: 30px;
    font-size: 25px;
}

.header .navbar .links li:hover {
    text-decoration: underline;
    text-decoration-color: #e9ce7b;
    text-underline-offset: 10px;
}
.marqu{
    height: 30px;
}

.about {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.about .subAbout {
    height: 550px;
    display: flex;
}

.about .subAbout .image {
    height: 450px;
}
.about .subAbout .content{
    padding-left: 100px;
}

.about .subAbout .content h1 {
    /* padding-top: 30px; */
    text-align: center;
    font-size: 40px;
}

.about .subAbout .content p {
    font-size: 20px;
    padding: 20px;
    text-align: justify;
    margin-top: 20px;
    line-height: 35px;
}
.key-points{
    height: 400px;
    font-size: larger;
    margin-top: 20px;
    margin-left: 65px;
  
}